# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.expo/
.turbo/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# native
ios/
android/

# OS / editor
.DS_Store
*.log

# test output
coverage/
